joblib~=1.5.0
pandas~=2.2.3
networkx~=3.4.2
numpy~=2.2.6
scipy~=1.15.3
scikit-learn~=1.6.1
nltk~=3.9.1
torch~=2.7.0
psutil~=7.0.0
sentence-transformers~=4.1.0
pip~=25.0.1
pillow~=11.2.1
Jinja2~=3.1.6
filelock~=3.18.0
spacy~=3.8.2
textstat~=0.7.7
emoji~=2.14.1
textblob~=0.19.0
tira~=0.0.175
xgboost~=3.0.1


